.classList {
  padding: 100px 50px;
  margin-left: 330px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.classListExpanded {
  margin-left: 0;
}

.classListItem {
  flex-basis: calc((100% - 3 * 25px) / 4);
  min-width: 320px;
  max-width: 360px;
}
