.container {
  background-color: white;
  display: flex;
  gap: 30px;
  padding-bottom: 35px;
  border-bottom: 1px solid #1b1b1b;
  margin-bottom: 40px;
}

.userPin {
  width: 80px;
  height: 80px;
  background-color: coral;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  font-weight: 500;
  color: white;
}

.userName {
  font-size: 30px;
  font-weight: 500;
}
