.header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 12px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  z-index: 1;
}

.headerLeftArea {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerBtn {
  color: rgb(38, 35, 35);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBtn:hover,
.headerBtn:focus {
  background-color: rgb(234, 234, 234);
}

.hamburgerMenuIcon {
  width: 25px;
  height: 25px;
}

.headerRightArea {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.addClassIcon {
  width: 25px;
  height: 25px;
}

.userProfile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(208, 208, 221);
}

.headerLogo {
  font-family: 'Prompt', sans-serif;
  font-size: 24px;
  font-weight: 500;
}
