.sidebar {
  position: fixed;
  box-sizing: border-box;
  width: 330px;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 90px 15px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 0.5s ease-in-out;
}

.sidebarNavList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarNavListItem {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}

.homeLink {
  text-decoration: none;
  color: inherit;
}

.sidebarIcon {
  color: #5d5d5d;
  width: 32px;
  height: 33px;
  margin-right: 10px;
}

.sidebarIcon:first-child {
  margin-left: 30px;
}

.sidebarCourseBillet {
  box-sizing: border-box;
  padding: 7px;
  display: flex;
  align-items: end;
  border-radius: 0 20px 20px 0;
  margin-bottom: 10px;
}

.sidebarCourseBillet:hover,
.sidebarCourseBillet:focus {
  background-color: rgb(242, 242, 242);
}

.sidebarCoursesList {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}

.accordeonArrow {
  color: #5d5d5d;
  width: 30px;
  height: 30px;
}

.openIcon {
  transform: rotate(90deg);
  transition: transform 0s ease-in-out;
}
